{% extends 'rental/partials/base.html' %}

{% block title %}Dashboard ({{ user }}) | {% endblock title %}

{% block content %}
  <div class="main-content center container">
    <h2>Dashboard ({{ user }})</h2>
    {% include 'authors/partials/login_message.html' %}
    {% include 'rental/partials/messages.html' %}

    <div class="authors-dashboard-container">
      <h3>Seus imóveis</h3>

      <ul>
        {% for imovel in imoveis %}
        <li>
          <a href="{% url 'authors:dashboard_imovel_edit' imovel.id %}">{{ imovel.title }}</a> -
            <form
            class="inline-form form-delete"
            action="{% url 'authors:dashboard_imovel_delete' %}"
            method='POST'
            >
              {% csrf_token %}
              <input type="hidden" name="id" value="{{ imovel.id }}">
              <button class="plaintext-button" type="submit">❌</button>
            </form>
        </li>
        {% empty %}
          <li>
            <p>Nenhum imóvel cadastrado ainda por esse usuário.</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>


  {% endblock content %}