 <nav role="navigation" aria-label="Main Pagination" class="container pagination">
    <div class="pagination-content">
      {% if page.has_previous %}
        <a class="page-link page-item" aria-label="Go to page 1" href="?page={{ page.previouse_page_number }}">Anterior</a>
      {% endif %}

      <a class="page-link page-item page-current"
            aria-label="Current page {{ page }}">
            Página {{ page.number }} de {{ page.paginator.num_pages }}.
      </a>

      {% if page.has_next %}
          <a
            class="page-link page-item"
            href="?page={{ page.next_page_number }}"
            aria-label="Go to page {{ page }}">
            Próxima
          </a>
      {% endif %}
